.directory
.env
.idea/
nbproject
.buildpath
.settings
.project
config/sync/.htaccess
config/sync/README.txt
docker/docker-compose.override.yml
node_modules
vendor
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/autoload.php
web/core/
web/index.php
web/libraries/
web/modules/contrib/
web/profiles/contrib/config_installer/
web/robots.txt
web/sites/
web/themes/contrib/
web/update.php
web/web.config
