.env
.idea/
nbproject
.buildpath
.settings
.project
config/sync/.htaccess
docker/docker-compose.override.yml
node_modules
vendor
web/*.*
web/core/
web/libraries/
web/modules/contrib/
web/profiles/contrib/config_installer/
web/sites/
web/themes/contrib/
mysql/
behat.yml
features/*.html
features/*.png
.cache/
.editorconfig
.gitattributes
