# Variables to add in Gitalb UI : Settings > CI/CD
# - SONAR_HOST // Optional
# - SONAR_TOKEN // Optional
# - NEW_RELIC_LICENSE_KEY // Optional
# - RUN_HOOKUPDATE_CI_JOB // Optional

variables:
  GIT_DEPTH: "10"
  THEME_PATH: "" # Update to enable front jobs (web/themes/custom/XXX)
  STORYBOOK_PATH: "" # Update to enable storybook job (themes/custom/XXX/dist/storybook/index.html)
  GIT_STRATEGY: fetch
  REVIEW_DOMAIN: "XXX.XXX.com" # Mandatory, should equal to DNS of available runner server with docker + docker-compose + traefik

image: skilldlabs/php:74

# Tags defines which runner to use (expected shell runner)
.runner_tag_selection:
  tags:
    - XXX # Mandatory, should equal to tag of available runner server with docker + docker-compose + traefik

before_script:
  - date
  - pwd

stages:
  - sniffers
  - prepare
  - deploy
  - storybook
  - tests
  - reports

sniffers:clang:
  stage: sniffers
  script:
  - make clang
  only:
    - branches
    - merge_requests

sniffers:compose:
  stage: sniffers
  script:
  - composer -vvv -V
  # Can't use --strict cause we need dev versions for d9 compatibility
  - time composer validate --profile
  only:
    - branches
    - merge_requests

sniffers:front:
  stage: sniffers
  before_script:
    - date
    - pwd
  script:
    - make front-install # Dependencies are required for js imports to pass linters
    - make lintval
  cache:
    key:
      files:
      # Until https://gitlab.com/gitlab-org/gitlab/issues/118466 lands ...
        - web/themes/custom/XXX/package.json # ... this path has to be hardcoded
        - web/themes/custom/XXX/yarn.lock # ... this path has to be hardcoded
    paths:
      - ${THEME_PATH}/node_modules/ # Populated during yarn install
  artifacts:
    name: "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA:front"
    expire_in: 1d
    paths:
      - ${THEME_PATH}/node_modules/ # Populated during yarn install
  extends: .runner_tag_selection
  only:
    refs:
      - branches
      - merge_requests
      - tags
    variables:
      - $THEME_PATH


sniffers:phpcs:
  stage: sniffers
  image: skilldlabs/docker-phpcs-drupal
  script:
  - docker -v
  - make phpcs
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

sniffers:newlineeof:
  stage: sniffers
  script:
  - make newlineeof
  only:
    - branches
    - merge_requests

sniffers:hookupdate:
  stage: sniffers
  script:
  - make hookupdateval
  only:
    refs:
      - branches
      - merge_requests
    variables:
      - $RUN_HOOKUPDATE_CI_JOB == "TRUE" # To enable once site is live and cannot be rebuilt anymore

sniffers:sonarqube:
  stage: sniffers
  image: skilldlabs/sonar-scanner:3.3
  script:
  - sonar-scanner
    -Dsonar.projectKey=$CI_PROJECT_PATH_SLUG
    -Dsonar.projectName=$CI_PROJECT_NAME
    -Dsonar.host.url=${SONAR_HOST}
    -Dsonar.login=${SONAR_TOKEN}
    -Dsonar.projectBaseDir=.
    -Dsonar.sources=.
    -Dsonar.inclusions=settings/**,web/modules/custom/**,web/profiles/sdd/**,web/themes/custom/**
  only:
  - master
  - main
  allow_failure: true


prepare:back:
  stage: prepare
  script:
    - docker --version
    - pwd
    - ls -la
    - docker run -e "COMPOSER_MEMORY_LIMIT=-1" --user 1000:1000 --rm --init -v `pwd`:`pwd` -w `pwd` skilldlabs/php:74-fpm /bin/ash -c "composer2 --version && composer2 install --no-interaction --prefer-dist -o --ignore-platform-reqs && composer2 create-required-files" # Make back on the fly
  cache:
    key:
      files:
        - composer.json
        - composer.lock
    paths:
      - vendor/
      - web/core/
      - web/libraries/
      - web/modules/contrib/
      - web/profiles/contrib/
      - web/themes/contrib/
      - drush/contrib/
  dependencies: []
  artifacts:
    name: "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA:back"
    expire_in: 12 hrs
    paths:
      - vendor/
      - web/
      - drush/
    exclude:
      - web/modules/custom/
      - web/themes/custom/
      - web/profiles/sdd/
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests
    - tags
  retry: 2

prepare:front:
  stage: prepare
  script:
    - make front-install
    - make front-build
  dependencies:
    - sniffers:front
  artifacts:
    name: "$CI_COMMIT_REF_NAME:$CI_COMMIT_SHA:front"
    expire_in: 12 hrs
    paths:
      - ${THEME_PATH}/dist/ # Populated during yarn build
  extends: .runner_tag_selection
  only:
    refs:
      - branches
      - merge_requests
      - tags
    variables:
      - $THEME_PATH


.deploy_template: &deploy_template
  stage: deploy
  script:
    - echo "Deploy ${CI_ENVIRONMENT_URL} review app to ${BUILD_DIR}."
    - echo "CI_ENVIRONMENT_NAME=${CI_ENVIRONMENT_NAME}"
    - echo "CI_ENVIRONMENT_SLUG=${CI_ENVIRONMENT_SLUG}"
    - echo "CI_COMMIT_REF_SLUG=${CI_COMMIT_REF_SLUG}"
    - echo "CI_ENVIRONMENT_URL=${CI_ENVIRONMENT_URL}"
    - echo "CI_PROJECT_PATH_SLUG=${CI_PROJECT_PATH_SLUG}"
    - echo "CI_PROJECT_NAME=${CI_PROJECT_NAME}"
    - echo "REVIEW_DOMAIN=${REVIEW_DOMAIN}"
    - mkdir -p ${BUILD_DIR}
    - rsync -ah --exclude=.git --exclude=.cache --delete ./ ${BUILD_DIR}
    - cd ${BUILD_DIR}
    - echo "COMPOSE_PROJECT_NAME=${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}" >> .env.default
    - echo "MAIN_DOMAIN_NAME=${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}" >> .env.default
    - docker --version
    - docker-compose --version
    - make all_ci
  after_script:
    - docker network prune -f
    - docker container prune -f
    - echo "Started ${CI_ENVIRONMENT_URL} composition in ${BUILD_DIR} from Makefile."
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  dependencies:
    - prepare:back
    - prepare:front
  allow_failure: false # https://gitlab.com/gitlab-org/gitlab-foss/-/issues/25892#note_26909808
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests


deploy:review:
  <<: *deploy_template
  when: manual
  except:
  - master
  - main

deploy:master:
  <<: *deploy_template
  when: always
  only:
  - master
  - main

stop_review:
  stage: deploy
  dependencies: []
  script:
    - date; pwd; ls -lahq;
    - echo "Clean-up build dir ${BUILD_DIR}"
    - (if [ -d ${BUILD_DIR} ]; then date; cd ${BUILD_DIR}; pwd; make clean; cd -; rm -rf ${BUILD_DIR}; fi)
    - echo "Removed previous review app ${CI_ENVIRONMENT_URL} from ${BUILD_DIR}."
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

deploy:storybook:
  stage: storybook
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - cd ${BUILD_DIR}
  - make build-storybook
  - echo "- Storybook is accessible here :" && echo "${CI_ENVIRONMENT_URL}/${STORYBOOK_PATH}"
  except:
    - tags
  extends: .runner_tag_selection
  only:
    refs:
      - branches
      - merge_requests
    variables:
      - $STORYBOOK_PATH

test:behat:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - BEHAT_ARGS='--colors -f pretty -o std -f junit -o features/junit' make behat
  after_script:
  - cd ${BUILD_DIR}
  - make browser_driver_stop
  - rm -rf web/screenshots
  - mkdir web/screenshots
  - mv features/*.png web/screenshots/
  - echo "- Screenshots are available here :" && cd web/screenshots && ls -h *.png | xargs -i echo "${CI_ENVIRONMENT_URL}/screenshots/{}"
  - mv ${BUILD_DIR}/features/junit ${CI_PROJECT_DIR}
  retry:
    max: 2
    when: script_failure
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - junit/*.xml
    reports:
      junit: junit/*.xml

test:cinsp:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make cinsp
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

test:drupalrector:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make drupalrectorval
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

test:lighthouse:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
    - echo "Starting job script in ${BUILD_DIR}"
    - cd ${BUILD_DIR}
    - cat lighthouserc.yml
    - docker run --tty --rm --init -d -v `pwd`:`pwd` -w `pwd` -u $(id -u):$(id -g) --entrypoint="/bin/bash" --name "${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse" cypress/browsers:node14.15.0-chrome86-ff82
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse node -v
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse npm -v
    - docker exec --tty -u root ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse npm install -g @lhci/cli@0.6.x
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse lhci --version
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse lhci healthcheck
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse lhci collect --url=https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    - docker exec --tty ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse lhci assert
  after_script:
    - if [ -n `docker ps -f 'name=${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse' --format '{{.Names}}'` ]; then echo 'Stopping container'; docker rm --force ${CI_PROJECT_NAME}-review-${CI_COMMIT_REF_SLUG}_lighthouse; fi
    - cd ${BUILD_DIR}
    - if [ -d .lighthouseci ]; then mv .lighthouseci web/lighthouseci; echo "- Reports are available here :" && for i in $(find web/lighthouseci/ -name "*.html"); do basename $i;done | xargs -i echo "${CI_ENVIRONMENT_URL}/lighthouseci/{}"; fi
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

test:contentgen:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make contentgen
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests
  when: manual

test:patch:
  stage: tests
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make patchval
  extends: .runner_tag_selection
  except:
    variables:
      - $RUN_PATCHVAL_CI_JOB == "FALSE" # To use only in case of private packages and if patching upstream is not possible at all
  only:
    refs:
      - branches
      - merge_requests

report:statusreportval:
  stage: reports
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make statusreportval
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

test:upgradestatus:
  stage: reports
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make upgradestatusval
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

report:watchdog:
  stage: reports
  environment:
    url: https://${CI_ENVIRONMENT_SLUG}-${CI_PROJECT_PATH_SLUG}.${REVIEW_DOMAIN}
    name: review/$CI_COMMIT_REF_NAME
    on_stop: stop_review
  script:
  - echo "Starting job script in ${BUILD_DIR}"
  - cd ${BUILD_DIR}
  - make watchdogval
  dependencies:
  - deploy:review
  extends: .runner_tag_selection
  only:
    - branches
    - merge_requests

