x-service-defaults:
  &service-defaults
  restart: always
  networks:
    - front

services:

  php:
    <<: *service-defaults
    image: ${IMAGE_PHP}
    container_name: "${COMPOSE_PROJECT_NAME}_web"
    volumes:
      - ../:/var/www/html:z
      - ../drush/.drushrc.php:/home/www-data/.drushrc.php:z
#    environment:
#      REDIS_HOST: ${REDIS_HOST}
#      REDIS_PORT: ${REDIS_PORT}
#      REDIS_PASSWD: ${REDIS_PASSWD}
#    depends_on:
#      - redis
#    links:
#      - redis:redis

#  nginx:
#    <<: *service-defaults
#    image: ${IMAGE_NGINX}
#    container_name: "${COMPOSE_PROJECT_NAME}_web"
#    depends_on:
#      - php
#    volumes_from:
#      - php

#  apache:
#    <<: *service-defaults
#    image: ${IMAGE_APACHE}
#    container_name: "${COMPOSE_PROJECT_NAME}_web"
#    depends_on:
#      - php
#    volumes_from:
#      - php

#  solr:
#    <<: *service-defaults
#    image: ${IMAGE_SOLR}
#    container_name: "${COMPOSE_PROJECT_NAME}_solr"
#    volumes:
#      - ./solr-conf/8.x:/solr-conf/conf
#    entrypoint:
#      - docker-entrypoint.sh
#      - solr-precreate
#      - ${COMPOSE_PROJECT_NAME}
#      - /solr-conf

#  redis:
#    <<: *service-defaults
#    image: ${IMAGE_REDIS}
#    container_name: "${COMPOSE_PROJECT_NAME}_redis"
#    command: redis-server --maxmemory-policy allkeys-lru --requirepass ${REDIS_PASSWD}

networks:
  front:
    driver: bridge
